@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Dancing+Script&family=Handjet:wght@100;200;300;400;500;600&family=Kanit:ital,wght@0,200;1,200&family=REM:ital,wght@0,200;0,300;0,400;1,300&family=Zeyada&display=swap');

/* 
font-family: 'Bebas Neue', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Handjet', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'REM', sans-serif;
font-family: 'Zeyada', cursive;
*/
.kathal{
    background-image: linear-gradient(rgba(12, 11, 11, 0.6),rgba(34, 29, 29, 0.6)) ,url("../images/kathamam.jfif");
    background-size: cover;
    background-position: fixed;
}
.falimy{
    background-image: linear-gradient(rgba(12, 11, 11, 0.6),rgba(34, 29, 29, 0.6)) ,url("../images/falimyback.jpg");
    background-size: cover;
    background-position: fixed;
}
.maharani{
    background-image: linear-gradient(rgba(12, 11, 11, 0.6),rgba(34, 29, 29, 0.6)) ,url("../images/maharani back.jpg");
    background-size: cover;
    background-position: fixed;
}
.fathima{
    background-image: linear-gradient(rgba(12, 11, 11, 0.6),rgba(34, 29, 29, 0.6)) ,url("../images/bg_seshammikeilfathima.jpg");
    background-size: cover;
    background-position: fixed;
}
.garudan{
    background-image: linear-gradient(rgba(12, 11, 11, 0.6),rgba(34, 29, 29, 0.6)) ,url("../images/garudanback.jpg");
    background-size: cover;
    background-position: fixed; 
}
.jalakam{
    background-image: linear-gradient(rgba(12, 11, 11, 0.6),rgba(34, 29, 29, 0.6)) ,url("../images/jalakam back.webp");
    background-size: cover;
    background-position: fixed;
}
.pheonix{
    background-image: linear-gradient(rgba(12, 11, 11, 0.6),rgba(34, 29, 29, 0.6)) ,url("../images/pheonix back.webp");
    background-size: cover;
    background-position: fixed;
}
.prana{
    background-image: linear-gradient(rgba(12, 11, 11, 0.6),rgba(34, 29, 29, 0.6)) ,url("../images/bg1_pazhanjanpranayam.jpg");
    background-size: cover;
    background-position: fixed;
}
.home{
    margin-top: 10px;
}
.f1{
    margin-top: 25%;
    margin-left: 5%;
    width: 294px;
    height: 400px;
    border-radius: 10px;
}
.fil{
    margin-top: 10%;
}
.head{
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-weight: bold;
}
i{
    color:rgb(167, 80, 80);
}
.rating{
    color: white;
    font-size: 30px;
}
.vote{
    color: white;
    font-size: 20px;
}
.lan{
    margin-top: 20px;
    color:black;
    background-color: white;
    width:95px;
    padding : 8px;
    font-size: 15px;
}
.dur{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.book{
    background-color:rgb(156, 64, 64);
    color:white;
    border-style: none;
    size: 100px;
}